[submodule "backend"]
	path = backend
	url = https://github.com/SakhnevichKirill/documents-classification-back.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/SakhnevichKirill/flutter_checkdoc.git
